.cadastro-funcionario-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(270deg, #f3d8ff, #ffffff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.cf-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 90px) !important;
    margin-top: 8rem;
}

.cf-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 2%;
    height: 80px;
    background: transparent;
    gap: 20px;
}

.cf-header-txt {
    height: 100%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    color: var(--corPrincipal);
}

.cf-header-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    gap: 15px;
}

.btn-notificacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--corPrincipal);
    background:transparent;
    color: var(--corPrincipal);
    font-size: 20px;
}

.btn-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--corPrincipal);
    background: transparent;
    color: var(--corPrincipal);
    font-size: 20px;
}

.cf-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    padding: 2%;
    padding-top: 0;
}

@media screen and (max-width: 1599px) {
    .cf-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        width: 100%;
        padding: 4%;
        padding-top: 5px;
    }
}

.cf-main-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.cf-main-top h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--corPrincipal);
}

.cf-main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding: 2%;
    width: 100%;
    background-color: rgba(227, 187, 244, 0.4);
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cf-main-content h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--corPrincipal);
    margin-bottom: 20px;
}

.cf-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.cf-form-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.cf-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    height: 40px;
    width: 50%;
    border: 1px solid var(--corPrincipal);
    border-radius: 10px;
    font-size: 16px;
}

.cf-select {
    width: 47% !important;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
}

.cf-buton-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}


.cf-btn-submit {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background: var(--corPrincipal);
    color: #fff;
    border: none;
    cursor: pointer;
    transform: all 0.3s ease;

    &:hover {
        background: var(--corHover);
    }
    &:active {
        background: var(--corActive);
    }
}

.cf-datagrid {
    border-radius: 10px !important;
}

/* MuiDataGrid-row--borderBottom  */

.css-yseucu-MuiDataGrid-columnHeaderRow {
    background: linear-gradient(4deg, rgba(101,55,128,1) 0%, rgba(63,22,87,1) 100%) !important;
    color: #ffff !important;
}

.css-1bgckiu-MuiDataGrid-main {
    background-color: rgba(254, 250, 255, 0.466) !important;
}

.MuiSvgIcon-root {
    color: #fff !important;
}

@media screen and (max-width: 1024px) {
    .cf-main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        padding: 2%;
        width: 100%;
        background-color: rgba(227, 187, 244, 0.4);
        margin-top: 2%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .cf-main-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .cf-form-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 10px;
    }

    .cf-input {
        width: 100% !important;
    }

    .cf-select {
        width: 100% !important;
    }
}


.modal-overlay-cf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }
  
  .modal-content-cf {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    overflow-y: auto;
    height: auto;
    max-height: 90vh;
    max-width: 600px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
  }

  @media screen and (max-width: 999px) {
    .modal-content-cf {
        width: 90vw;
    }
  }

  
  .modal-header-cf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal-header-cf h2 {
    color: var(--corPrincipal);
    font-weight: 700;
  }
  
  .modal-close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-top: -20px;
  }
  
  .modal-body-cf {
    margin-top: 10px;
  }

  .modal-title-cf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }

  .modal-title-cf  h3 {
    color: var(--corPrincipal);
    font-weight: 600;
  }
  
  .cf-btn-add {
    background: var(--corPrincipal);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }